/*

	@author: Arijit Saha
	@desc: css for index.html (Header & Footer Template)
	@file path from root: Ex ./index.css/


*/



:root {
    /* fonts */
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-xs: 18px;
    --font-size-sm: 20px;
    --font-size-base: 22px;
    --font-size-lg: 23px;
    --font-size-xl: 25px;
    --font-size-2xl: 35px;
    --font-size-3xl: 40px;
    --font-size-4xl: 50px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslategray-100: #334756;
    --color-darkslategray-200: #2c394b;
    --color-orangered: #ff4c29;
    --color-black: #000;
    --color-gray-100: #787878;
    --color-gray-200: #082032;
    --color-dimgray-100: #504f4f;
    --color-dimgray-200: #4f4f4f;
    --color-whitesmoke: #ececec;
  
    /* border radiuses */
    --br-md: 10px;
  }

body {
    margin: 0;
    line-height: normal;
    height: 100vh;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.main
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    overflow-x: hidden;
    
}

.header{
    height: 89px;
    width: 100%;
    background-color: var(--color-gray-200);
    display: flex;
    border-bottom-width: 2px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.header-div{
    height: 100%;
    width: 90%;
    margin-left: 20px;
    display: inline-flex;
    margin-right:  4px ;
    margin-top:  4px ;
    margin-bottom:  4px ;
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
    font-size: var(--font-size-2xl);
    color: #fff;
}
.nrifintech{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 35px;
    /* font-style: Montserrat;  */
    font-family: Montserrat;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    cursor: pointer;
}
.header-end{
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    text-align: right;
    padding-right: 8px ;
}
.header-end-items
{
    margin-left: auto;
    margin-top:  4px ;
    margin-bottom:  4px ;
    margin-right: 38px;
    height: 80%;
    width:max-content;
    font-size: 25px;
    display: flex;
    justify-content: space-between;

}
.vector-icon{
    margin-right: 10px;
}

.booking{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    cursor: pointer;
}
.logout{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    cursor: pointer;
}
.body-part
{
    
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.footer
{
    height: 49px;
    width: 100%;
    background-color: var(--color-gray-200);
    display: flex;
    border-bottom-width: 2px;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: auto;

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;


}
.footer-element-smallerscreen{
    display: none;
}


/* Media Queries */
@media(max-width: 1100px)
{
    .footer-element-smallerscreen{display: inline-block;}
    .footer-element{display: none;}
    
}
@media(max-width:750px)
{
    .header-end-items-text{display: none;}
}













