:root {
    /* fonts */
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-base: 22px;
    --font-size-lg: 50px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #787878;
    --color-whitesmoke: #ececec;
    --color-black: #000;
  
    /* border radiuses */
    --br-md: 10px;
  }


body {
    margin: 0;
    line-height: normal;
  }
  .loginpage-child {
    position: absolute;
    top: 0;
    left: 711px;
    width: 1px;
    height: 1024px;
  }
  .undraw-walking-outside-re-56xo-icon {
    position: absolute;
    top: 175px;
    left: 89px;
    width: 548px;
    height: 398px;
    overflow: hidden;
  }
  .cares-for-your {
    color: var(--color-black);
  }
  .travel {
    color: #ff4c29;
  }
  .cares-for-your-container {
    position: absolute;
    top: 771px;
    left: 170px;
    font-size: var(--font-size-lg);
    font-family: var(--font-montserrat);
    text-align: left;
    display: inline-block;
    width: 555px;
    height: 113px;
  }
  .logini-container-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 1px 6px 10px 5px rgba(206, 205, 205, 0.25);
    width: 625px;
    height: 676px;
  }
  .email,
  .login1,
  .password {
    position: absolute;
    top: 196px;
    left: 84px;
    font-size: var(--font-size-base);
    font-family: var(--font-montserrat);
    color: var(--color-gray-100);
    text-align: left;
  }
  .login1,
  .password {
    top: 308px;
  }
  .login1 {
    top: 47px;
    left: 233px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
  }
  .logini-container-inner,
  .logini-container-item {
    position: absolute;
    top: 236.5px;
    left: 83.5px;
    border-top: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
    width: 464px;
    height: 1px;
  }
  .logini-container-inner {
    top: 346.5px;
  }
  .vector-icon {
    position: absolute;
    height: 2.47%;
    width: 4%;
    top: 47.04%;
    right: 13.44%;
    bottom: 50.49%;
    left: 82.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-child {
    border-radius: var(--br-md);
    background-color: #2c394b;
  }
  .group-child,
  .rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 148px;
    height: 60px;
  }
  .login2 {
    position: absolute;
    top: 16px;
    left: 41.77px;
    font-size: var(--font-size-base);
    font-family: var(--font-montserrat);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 70.35px;
  }
  .group-parent,
  .rectangle-div {
    position: absolute;
    top: 389px;
    height: 60px;
  }
  .group-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    left: 399px;
    width: 148px;
  }
  .rectangle-div {
    left: 84px;
    border-radius: var(--br-md);
    background-color: #fdfcfc;
    box-shadow: 0 1px 8px rgba(163, 163, 163, 0.25);
    width: 296px;
  }
  .google-1-icon {
    position: absolute;
    top: 402px;
    left: 97px;
    width: 31px;
    height: 32px;
    object-fit: cover;
  }
  .sign-in-with-google {
    position: absolute;
    top: 404px;
    left: 143px;
    font-size: var(--font-size-base);
    font-family: var(--font-montserrat);
    color: #4e4e4e;
    text-align: left;
  }
  .images-1-icon,
  .logini-container {
    position: absolute;
    top: 208px;
    left: 764px;
    width: 625px;
    height: 676px;
  }
  .images-1-icon {
    top: 639px;
    left: 76px;
    width: 174px;
    height: 147px;
    object-fit: cover;
  }
  .loginpage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 1024px;
    overflow: hidden;
  }
  .login {
    position: relative;
    width: 100%;
    height: 1024px;
  }
  